*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body {
    background-color: #141313;
    color: #fcf8f8;
}

h1 {
    background-color: rgb(84, 94, 103);
    color: black;
    text-align: center;
    margin: auto;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-bar input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}
.search-bar button {
    width: 100px;
    padding: 10px 20px;
    border: none;
    background-color: #981317;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.card{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 2rem;
    margin: auto;
}

.card img{
    max-width: 250px;
    width: 100%;
    height: 60%;
    border-radius: 2px;
    margin-bottom: 1rem;
    margin: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}
.container .card{
    flex: 1 1 calc(25% - 2rem);
    box-sizing: border-box;
}
